.education-container {
  background-color: white;
  padding: 20px;
  border: 2px solid #0b1c39;
  border-radius: 8px;
  text-align: center;

  h1 {
      color: #0b1c39;
  }

  .school {
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
  }
}
